/* ===== HERO ===== */
.hero {
  position: relative;
  height: 90vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* OVERLAY */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

/* CONTENT */
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  max-width: 100%;
  padding: 0;
}

.hero-content h1 {
  font-size: 52px;
  margin-bottom: 10px;
  opacity: 0;
}

.hero-content p {
  font-size: 18px;
  opacity: 0;
}

/* FADE ANIMATION */
.fade-in {
  animation: fadeUp 5s ease-out;
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* BUTTONS */
.hero-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.hero-buttons .btn {
  padding: 12px 26px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.hero-buttons .primary {
  background: #fff;
  color: #000;
}

.hero-buttons .outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

/* DOTS */
.slider-dots {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.slider-dots span {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.4);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots span.active {
  background: #fff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 16px;
  }
}
